@model List<UserListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Username</th>
            <th>Address</th>
            <th>PhoneNumber</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Email</td>
                <td>@item.Username</td>
                <td>@item.Address</td>
                <td>@item.PhoneNumber</td>
                <td class="d-flex">
                    @item.Roles.Name
                </td>
            </tr>
        }
    </tbody>
</table>
